# Build
*.o
*.a
*.so

# Eseguibili del progetto principale
EDSBWTsearch
EDSBWTsimilarity
eds_to_fasta
EOFpos_to_everything
da_to_everything
mainEDS-BWT

# File generati
*.aux
*.ebwt
*.bitvector
*.info
*.EOFpos
*.empty.info
*.len
*.fasta

# File di test generati
test.*

# Risultati
results/
*output.csv

# Backup
*.backup*
backups_tesi_edsbwt_*

# Archivi
*.zip

# Editor
.vscode/
*.swp
*~

# Librerie compilate
sdsl_lib/lib/
sdsl_lib/build/

# Dataset eventualmente copiati qui
dataset/

# Librerie esterne che NON vuoi nel repository
sdsl-lite/
sdsl_lib/
gsufsort/

# Indici generati
edsbwt_form/
